// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ff9595;
  stroke: #000;
  stroke-width: 1.5px;
  animation: fadein 1s ease 1;
}

#overlay {
  fill:none;
  pointer-events: all;
}

@keyframes fadein {
  0% { opacity: 0;  }
  100% { opacity: 1; }
}

.input_alert {
  opacity: 0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  position:absolute;
  top:30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 100;
  text-align: center;
}