// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #f00;
  stroke: #000;
  stroke-width: 1.5px;
  animation: fadein 1s ease 1;
}

#graph_outline {
  stroke-width: 10px;
  stroke: #000;
  fill: #fff;
}

@keyframes fadein {
  0% { opacity: 0;  }
  100% { opacity: 1; }
}