p {
  font-size: 1.2em;
}

.link {
  stroke: #000;
  stroke-width: 3px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  opacity: 0;
  animation: dash 2s ease 1s 1 forwards;
}

.node.visited {
  stroke: #f9e470;
  stroke-width: 3px;
  animation: fadein 1s ease 1;
}

@keyframes dash {
  from {
    opacity: 1;
    stroke-dashoffset: 1000;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.node {
  fill: #b3eeff;
  stroke: #000;
  stroke-width: 1.5px;
  animation: fadein 1s ease 1;
}

#overlay {
  cursor: move;
  fill:none;
  pointer-events: all;
}

@keyframes fadein {
  0% { opacity: 0;  }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.input_alert {
  opacity: 0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  position:absolute;
  top:30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 100;
  text-align: center;
}

.footer_badge {
  width: 40px;
  height: 40px;
  opacity: 0.7;
  margin: 0 10px;
}

.footer_badge:hover {
  opacity:0.9;
}

a:hover {
  text-decoration: none;
}

.navbar {
  border-radius: 0 !important;
}

.navbar a img {
  opacity: 0.7;
}

.navbar a img:hover {
  opacity: 0.9;
}

.row_separator {
  width: 80%;
  height: 1px;
  background-color: #000;
  display: inline-block;
  position: relative;
  opacity: 0.4;
  margin: 20px auto 5px auto;
  text-align: center;
}

.tree {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('/assets/images/tree.png');
  background-size:cover;
  width: 100%;
  height: 100%;
}




