p {
  font-size: 1.2em;
}

.link {
  stroke: #000;
  stroke-width: 3px;
}

.node {
  fill: #b3eeff;
  stroke: #000;
  stroke-width: 1.5px;
  animation: fadein 1s ease 1;
}

#overlay {
  cursor: move;
  fill:none;
  pointer-events: all;
}

@keyframes fadein {
  0% { opacity: 0;  }
  100% { opacity: 1; }
}

.input_alert {
  opacity: 0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  position:absolute;
  top:30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 100;
  text-align: center;
}

.footer_badge {
  width: 40px;
  height: 40px;
  opacity: 0.7;
  margin: 0 10px;
}

.footer_badge:hover {
  opacity:0.9;
}

a:hover {
  text-decoration: none;
}

