<div class="container">

  <div class="row">
    <h1>Unbalanced Binary Search Tree</h1  >

    <alert class="input_alert" type="warning" close="setInputAlert(false)">
      <strong>Error: </strong>Please enter a valid alphabetical string.
    </alert>

    <form ng-submit="createNewNode()">
      <p class="form-group">
        <input type="text" class="form-control" ng-model="newNodeValue" placeholder="Enter value for new node." />
        <input type="submit" style="display: none;"/>
      </p>
    </form>

  </div>

</div>

<br>