<div class="container">

  <div class="row">
    <h1>Unbalanced Binary Search Tree Visualizer</h1  >

    <form ng-submit="createNewNode()">
      <p class="form-group">
        <input type="text" class="form-control" ng-model="newNodeValue" placeholder="Enter value for new node." />
        <input type="submit" style="display: none;"/>
      </p>
    </form>

<!--     <svg id="graph" height="{{height}}" width="{{width}}">
        <circle ng-repeat="node in nodes" 
                class="node" 
                cx="{{node.x}}" 
                cy="{{node.y}}" 
                r="{{radius}}" 
        />
    </svg> -->
  </div>

</div>